<div class="cont-main">
   <div class="cont-main1">
        <div class="cont-top">
            <div class="cont-img">
                <img src="./assets/img/pngwing.com.png" height="40px" width="134px" >
            </div>
            <div class="cont-input">
                <app-seach-bar></app-seach-bar>
            </div>
            <div class="cont-btn">
                <img src="./assets/img/btn-mercadolibre.webp" width="390px" height="40px" >
            </div>

        </div>
        <div class="cont-bottom">
            <div class="dropdown">
                <button class="dropbtn">
                   <p class="font-14-400 ft-gr800">Categorias </p>
            
                </button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
            </div>
            <div class="cont-Center">
            <div class="cont-C1"><p class="font-10-400"> Historial</p> </div>    
            <div class="cont-C1"><p class="font-10-400"> Tiendas oficiales</p> </div>    
            <div class="cont-C1"><p class="font-10-400"> Ofertas</p> </div>    
            <div class="cont-C1"><p class="font-10-400"> Vender</p> </div>    
            <div class="cont-C1"><p class="font-10-400"> Ayuda</p> </div>    

            </div>
            <div class="cont-login">
                <div class="cont-C1"><p class="font-10-400"> Crea tu cuenta</p> </div>    
                <div class="cont-C1"><p class="font-10-400"> Ingresa</p> </div>    
                <div class="cont-C1"><p class="font-10-400"> Mis compras </p> </div>    
            </div>
        </div>
    </div>
        
</div> 