<div class="container-C-G">
    <div class="container-C">
        <div class="container-c1">
        <div> <p class="font-14-500 ft-gr800" style="letter-spacing: 2px; "> {{Titulo}} </p> </div> 
        <div> <p class="font-22-700" style="letter-spacing: normal; line-height: 22px;"> {{entrena}} </p> </div>   
        <div class="btn-C" (click)="goWhere()"> <a class="font-14-600"  > {{boton}} </a> </div>
        </div>
    </div>    

    <div class="img-card" >
        <img src={{img}} height="100%">
    </div>
</div>